  <main id="main">
    <!-- ======= doar Section ======= -->
    <section id="why-us" class="why-us" >
    <br/><br/><br/><br/>
        <div class="container">
            <div class="section-title">
                <h2>Doe para ADFEGO</h2> 
            </div>
            
            <div class="row mt-5">

                <div class="col-lg-4">
                    <p>Como sabem nossa instituição não tem fins lucrativos, basicamente todos os nosso recursos vêm da realização dos trabalhos com nossos parceiros e de doações. Não conhece nosso trabalho? Convido-o a nos fazer uma visita e conhecer o que fazemos e o que poderemos fazer melhor com a sua ajuda! Há, por favor, senão for pedir muito poderia nos dar uma ajudinha? Que tal nos fazer uma doação...</p>
                    
                    <p>
                        Caso queira doar alimentos (itens da cesta básica) roupas, fraldas descartáveis ou produtos de limpeza entre em contato com o Serviço Social pelo telefone. <br/><br/>
 
                        <i class="fa fa-phone"> (62) 3202-3313</i><br/>
                        <i class="fa fa-envelope"> adfego@adfego.org.br</i>
            
                    </p><br/>
                    Familia, ADFEGO.

                    
                </div>

                <div class="vl"></div>

                
                <div class="col-xl-4 d-flex align-items-stretch">
                                      
                    <div class="card" style="width: 18rem;">
                        
                        <%= image_tag "caixa.png", class:"card-img-top", alt:""%>
                        <div class="card-body">
                            <h5 class="card-title">Caixa Econômica Federal</h5>
                            <p class="card-text">Associação dos Deficientes Físicos do Estado de Goiás (ADFEGO)</p>
                            <p class="card-text">
                            Agência: 1340 <br/>
                            Operação: 003 <br/>
                            Conta: 77051-1</p>
                            <a href="https://www.caixa.gov.br/Paginas/home-caixa.aspx" target="_blank" class="btn btn-primary">Acesse</a>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </section>
</main>