<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
   <div class="container">
      <h1>Welcome to ADFEGO</h1>
      <h2>We are team of talanted designers making websites with Bootstrap</h2>
    </div>
  </section><!-- End Hero -->
  <br/><br/><br/><br/><br/><br/><br/>

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>Estatuto da Associação dos Deficientes Físicos do Estado de Goiás</h2>
        </div>

        <h3>CAPÍTULO I</h3>
        

        <h4>DA DENOMINAÇÃO, DOS FINS E DA SEDE DA ASSOCIAÇÃO.</h4>

        <p>Art. 1º  A Associação dos Deficientes Físicos do Estado de Goiás- ADFEGO, fundada em 27/03/1981, como sociedade civil de duração indeterminada e sem fins econômicos podendo, contudo, desenvolver atividades produtivas para a sua subsistência e manutenção, com sede e foro na Av. Independência nº 3.026 – Vila Nova, Goiânia- GO congrega número ilimitado de associados, sem distinção de origem, sexo, raça, clero, idade ou opção político partidário, não havendo entre os associados, direitos e obrigações recíprocas e tem por fim:</p>

        <p>I- Reunir as pessoas com deficiência física sob a égide da Associação, atuando na implementação de medidas que visem obter melhoria em sua condição de existência, mediante atuação junto a comunidade, família, entidades e aos poderes públicos, para ampliação da assistência, reabilitação, amparo, capacitação profissional e aproveitamento da mão de obra da pessoa com deficiência física, a fim de promover sua plena integração e inclusão na sociedade;</p>

        <p>II- Promover a integração ao mercado de trabalho, bem como a habilitação e reabilitação das pessoas com deficiência e a promoção de sua integração à vida comunitária;</p>

        <p>III- Desenvolver políticas públicas para habilitação e reabilitação das pessoas com deficiência;</p>

        <p>IV- Promover direta e indiretamente a inserção da pessoa com deficiência física no mercado de trabalho, através de ações de conscientização dos administradores públicos, empresários e pessoas físicas acerca das vantagens da empregabilidade do deficiente, bem como buscando garantir a aplicação incondicional da legislação protetora;</p>

        <p>V- Promover a formação e qualificação profissional das pessoas com deficiência, por meio de cursos profissionalizantes ou firmando convênios educativos com outras entidades públicas e privadas, inclusive através de intermediação de mão de obra que vise dar oportunidades práticas para a integração ao mercado de trabalho, bem como adotar apoios e procedimentos especiais, visando a adequação das condições e do ambiente de trabalho;</p>

        <p>VI – Proporcionar às pessoas com deficiência, de acordo com as possibilidades, atendimento de qualidade nas áreas de assistência social, jurídica, pedagógica, reabilitação física-social e psicoterapia, de acordo com as políticas adotadas de cunho legal;</p>

        <p>VII – Promover e incentivar a prática de atividades esportivas, culturais e oficinas terapêuticas, visando a habilitação, reabilitação e inclusão social das pessoas com deficiência.</p>

        <p>VIII – Celebrar Termos de Parcerias com os poderes públicos, visando colaborar com a implementação das politicas públicas voltadas para a pessoa com deficiência, podendo atuar na área da assistência social, empregabilidade, esporte, cultura e saúde, no que diz respeito a habilitação e reabilitação, bem como em toda área que vise a melhoria da condição de vida do segmento;</p>

        <p>IX – Promover a obtenção de recursos, através das fontes geradoras previstas neste Estatuto para o desenvolvimento e manutenção de suas finalidades;</p>

        <p>X – Encaminhar aos poderes competentes sugestões e propostas de leis sobre matérias de interesses das pessoas com deficiência e ainda velar pelo cumprimento das leis existentes de interesse da classe, comunicando às autoridades competentes eventual descumprimento destas leis.</p>

        <p>XI – Procurar estender assistência aos associados residentes no interior do Estado, por meio do incentivo à organização e criação de núcleos municipais ou regionais;</p>

        <p>XII– Desenvolver toda e qualquer ação ou iniciativa, cujos objetivos estejam voltados à promoção de atividades e finalidades de relevância pública e social ligadas ao segmento da pessoa com deficiência.</p>

        <p>Parágrafo Único – Além da sede, definida no caput deste artigo, a ADFEGO conta com um núcleo de atendimento sito na rua 229, esquina com 11ª, n.º 119 – Vila Nova- Goiânia – GO e ainda uma industria, comércio e serviços de produtos ortopédicos ,sito na Av. Dom Fernando, Qd. R O, Lt. 06 – Chácara do Governador – Goiânia – GO. Podendo ainda ser criados núcleos de extensão de atendimento, em local próprio ou locado para este fim, com a devida aprovação da Diretoria.</p>

        <p>Art. 2º – A Associação dos Deficientes Físicos do Estado de Goiás adota, para seu uso exclusivo, a sigla ADFEGO formada com as iniciais de seu nome, vedada seu uso com objetivos alheios aos propostos neste Estatuto.</p>

        <h3>CAPÍTULO II</h3>

        <h4>DAS FONTES DE RECURSOS</h4>

        <p>Art. 3º – Constituem fontes de recursos financeiros da ADFEGO:</p>

        <p>I – Contribuições mensais dos associados, se fixadas;</p>

        <p>II- Subvenções financeiras dos poderes públicos;</p>

        <p>III – Aplicações no mercado Financeiro, de acordo com a legislação vigente;</p>

        <p>IV – Doações e legados;</p>

        <p>V – Os recursos de capital, inclusive os resultados de conversão em espécie de bens e direitos, bem como os provenientes de convênios , contratos e termos de parceria com a iniciativa privada e poder público, ou qualquer outro meio de repasse;</p>

        <p>VI – Os resultados das atividades produtivas previstas e autorizadas nesse Estatuto;</p>

        <p>VII – alugueis e outras receitas.</p>

        <p>§ 1º – A Associação aplicará, integralmente, no País, os seus recursos na manutenção dos seus objetivos sociais e publicará, anualmente, em jornal de grande circulação nesta Capital ou no Diário Oficial do Estado e ainda no seu site eletrônico, seu Demonstrativo Financeiro.</p>

        <p>§ 2º – A Instituição não distribui lucros, bonificações ou vantagens a dirigentes ou mantenedores e não remunera seus dirigentes estatutários, podendo contudo ser definidos , no seu Regimento Interno, critérios para o ressarcimento das despesas efetuadas no exercício das atividades inerentes aos cargos.</p>

        <p>CAPÍTULO III</p> 

        DAS ATIVIDADES PRODUTIVAS E GERADORAS DE RECURSOS

        Art. 4º – A Associação com a finalidade de custear os objetivos sociais poderá manter as seguintes atividades produtivas e geradores de recursos:

        a) – Industrialização, manutenção, locação e comercialização de cadeiras de rodas, órteses e próteses;

        b) – Prestação remunerada de serviços , intermediação e locação de mão de obra a empresas públicas, privadas e pessoas físicas, nos moldes da legislação em vigor e visando contribuir para a inclusão e inserção da pessoa com deficiência ao mercado de trabalho.

        c) – atividades na área da saúde de habilitação e reabilitação;

        d) – Desenvolvimento de atividades de produção e/ou comercialização de mercadorias, bens e serviços, conforme legislação vigente.

        e)- Celebração de Termos de Parcerias com os entes públicos em todas as esferas, cujo objeto esteja voltado ao segmento da pessoa com deficiência .

        f)- Consultorias, assessoria, treinamento e desenvolvimento às empresas visando a integração da pessoa com deficiência ao mercado de trabalho.

        g) Locação de imóveis e espaços.

        CAPÍTULO IV

        DOS REQUISITOS PARA ADMISSÃO E DEMISSÃO DO SÓCIO

        Art. 5º – Poderá ser admitido como associado, mediante o preenchimento de ficha de inscrição, a pessoa natural ou jurídica que se enquadrar em uma das categorias previstas nos artigos seguintes deste Estatuto, tendo ou não seu domicílio no Estado de Goiás.

        Parágrafo Único – A demissão dar-se-á a qualquer momento e somente a pedido do sócio que deverá manifestar o seu interesse por escrito.

        Art. 6º – As Categorias de associados são as seguintes:

        I – Pessoa com deficiência física;
        II- Fundadores;
        III- Beneméritos;
        IV- Contribuintes;
        V- Correspondentes.

        § 1º – São sócios na categoria de Pessoas com Deficiência Física as pessoas com alguma deficiência física motora ou locomotora, congênita ou adquirida, conforme definição estatuída em legislação específica.

        § 2º – São sócios na categoria de Fundadores as pessoas com deficiência física que fundaram a Associação e que estão registrados até o nº 15 (quinze).

        § 3º – São Sócios na categoria de Beneméritos aquelas pessoas que prestarem relevantes serviços ou contribuições à ADFEGO, bem como por sua ação social, dentro ou fora do Estado, contribuírem para o bom êxito da integração e da habilitação da pessoa com deficiência física na sociedade.

        § 4º – São Sócios na categoria de Contribuintes as pessoas, que embora não tenham deficiência física, voluntariamente, se associarem e pagarem as contribuições fixadas pela Diretoria.

        § 5º – São Sócios na categoria de Correspondentes as pessoas domiciliadas fora do País que prestarem serviços de interesse da Associação.

        § 6º – Os associados na qualidade de Beneméritos e Correspondentes é facultado o pagamento das contribuições obrigatórias aos demais sócios, caso existam.

        § 7º – O título de benemérito ou correspondente será conferido pela Diretoria.

        Art. 7º – A categoria de sócio Pessoa com Deficiência Física compreende os Sócios Ativos e os Inativos:

        § 1º – Considera-se Sócio Ativo aquele que, além do cumprimento dos deveres impostos nesse estatuto, participar de pelo menos de 01 (uma) Assembleia Geral nos últimos 04 (quatro) anos.

        § 2º – Considera-se Sócio Inativo aquele que não cumprir os deveres impostos nesse estatuto e não participar de nenhuma Assembleia Geral nos últimos 04 (quatro) anos.

        I – O sócio inativo terá suspensos os direitos de votar e ser votado.

        II – Para reabilitar a sua inscrição como sócio ativo, o inativo:

        a) – Se o motivo da inativação for ausência de participação e voto em Assembleia Geral, deverá participar e votar na Assembleia Geral a ser realizada, necessitando para tal que faça novo recadastramento no prazo de até 15 (quinze) dias da Assembleia. Sendo que sua reabilitação só se dará após ficar comprovado o efetivo voto nesta Assembleia.

        b) – Se o motivo for o descumprimento de deveres, deverá apresentar justificativa por escrito com expresso pedido de reabilitação, que será objeto de deliberação da Diretoria.

        Art. 8º – Os sócios poderão, a critério da Diretoria, receber uma Carteira Social, expedida e assinada pela Secretaria Geral e Presidência, sendo que os sócios Beneméritos receberão diploma especial entregue em solenidade pela Associação.

        Art. 9º – Os Associados nas categorias de Pessoas com Deficiência Física e Contribuintes poderão ser excluídos por deliberação da Diretoria, quando deixarem de pagar 06 (seis) mensalidades consecutivas, se estabelecidas.

        CAPÍTULO V

        DOS DIREITOS E DEVERES DOS ASSOCIADOS

        Art. 10º – São Direitos do sócio na categoria de Pessoa com Deficiência Física ou de Fundadores, desde que esteja na condição de sócio ativo:

        I – Votar e ser votado, para os cargos da Diretoria, Assessoria Jurídica, Conselhos Deliberativo e Fiscal;

        II – Participar e votar nas Assembleias Gerais;

        III – Propor à Diretoria medidas que julgar conveniente aos interesses dos associados;
        IV – Requerer e receber, após o seu ingresso no quadro social, a respectiva carteira de sócio, se adotada.

        V – Ter acesso, anualmente, através dos canais de divulgação estabelecidos neste estatuto, ao relatório das atividades sociais desenvolvidas pela ADFEGO.

        VI – Candidatar-se aos cargos de Diretoria Executiva, Conselho Fiscal, Deliberativo e Assessoria jurídica desde que bacharel em direito. Sendo que para pleitear os Cargos da Diretoria Executiva e do Conselho Fiscal, deverá ser sócio atuante há mais de 05-(cinco) anos. Considera-se atuante o associado que houver participado de 2/3 (dois terços) das Assembleias Gerais naquele período.

        VII – Somente terá direito de votar o associado com, no mínimo 90-(noventa) dias de filiação anteriores à Assembleia.

        VIII – Ser contratado para prestar serviços na sede administrativa da ADFEGO ou nos órgãos públicos ou empresas privadas mediante convênios ou contratos, desde que preenchidos os requisitos e critérios de seleção estipulados pela Entidade e pelos contratantes.

        IX – Solicitar a instalação de Assembleia Geral Extraordinária para destituição de membro da Diretoria Executiva, Conselhos e/ou Assessoria Jurídica, mediante a subscrição de no mínimo de 1/5 dos associados ativos.

        X- Apresentar recurso em face da aprovação das contas, mediante a subscrição de no mínimo de 1/5 dos associados ativos.

        XI– As demais categorias de sócios, ficam assegurados todos os direitos estipulados pelos incisos anteriores, exceto os constantes dos incisos I, II, VI, IX e X.

        Art. 11 – São Deveres dos associados:

        I – Cumprir e respeitar o estatuto e regulamentos expedidos, para a sua execução e acatar as deliberações da Assembleia Geral;

        II – Pagar as mensalidades proposta pela Diretoria e referendada pelo Conselho de Administração; caso sejam estipuladas;

        III – Envidar todos os esforços ao seu alcance para que a Associação cumpra fielmente os seus fins;

        IV – Comparecer às Assembleias Gerais; sendo obrigatório o comparecimento em pelo 01 (uma) Assembleia a cada 04 (quatro) anos, sob pena de ter seus direitos suspensos;

        V- Difundir as finalidades da Associação;

        VI – Desempenhar os cargos e missões para o qual for designado;

        VII – Cooperar moral e financeiramente para o bom êxito das finalidades sociais da Associação.

        VIII – Frequentar a sede social da Associação;

        IX – Para os associados funcionários da sede administrativa, dos convênios e contratos da ADFEGO é obrigatória a participação e votação em todas as Assembleias Gerais, sob pena de advertência na forma prevista neste Estatuto ou no Regimento Interno.

        X – Desempenhar outras atividades condizentes ao êxito da Entidade

        CAPÍTULO VI

        DA CONSTITUIÇÃO E FUNCIONAMENTO DOS ÓRGÃOS DELIBERATIVOS

        Art. 12 – A ADFEGO é constituída e administrada pelos seguintes Órgãos Deliberativos, conforme as atribuições e competências definidas neste estatuto:

        a) – Assembleia Geral;
        b) – Diretoria Executiva;
        c) – Assessoria jurídica;
        d) – Conselho Deliberativo;
        e) – Conselho Fiscal; e
        f) – Conselho de Administração.

        DA ASSEMBLEIA GERAL

        Art. 13 – A Assembleia Geral é soberana e constituída por todos os sócios ativos nas categorias de Pessoa com Deficiência Física e Fundadores, no uso de seus direitos, e se reunirá:

        I – Ordinariamente:

        – para eleição da diretoria, Conselho Fiscal, Deliberativo e Assessoria Jurídica;

        – Para posse dos eleitos;

        –Para apresentação das contas.

        II- Extraordinariamente:

        Toda vez que for convocada pelo Presidente ou pela maioria dos membros da Diretoria Executiva;

        Pelo(s) assessor (es) jurídicos quando se tratar de destituição de diretores em caso de rejeição de contas transitada em julgado;

        Pelos associados para tratar de assuntos do interesse geral

        para julgar recurso em face da aprovação das contas.

        Parágrafo Único- Para a convocação da Assembleia extraordinária para tratar dos assuntos relacionados nas alíneas c e d, o quórum exigido será de 1/5 dos sócios ativos.

        Art. 14 – Compete à Assembleia Geral Ordinária eleger a sua Diretoria Executiva, Conselho Fiscal, Conselho Deliberativo e Assessoria Jurídica.

        § 1º – A Assembleia Geral Ordinária de eleição será instalada com qualquer número de associados ativos, sendo que ao seu final para sua validação deverá ser apurado número de no mínimo 300 (trezentos) votantes. Não havendo quorum de votantes, será designada pela Diretoria nova data para a realização da Assembleia.

        § 2º – A Assembleia Ordinária de eleição funcionará das 08:00 às 17:00 horas.

        § 3º – A convocação da Assembleia Geral Ordinária de eleição deverá ser feita por edital, afixada na sede social e publicado uma vez em jornal de grande circulação desta Capital, com antecedência mínima de 30 (trinta) dias, constando; dia, hora e local.

        Art. 15 – As assembleias gerais para apresentação de contas, bem como para dar posse aos eleitos, poderá funcionar com quórum de 100 (cem) associados em primeira convocação e qualquer numero em segunda convocação, feita ½ (meia) hora depois.

        Art. 16 – Compete à Assembleia Geral Extraordinária:

        I – Destituir qualquer membro da Diretoria, Assessoria Jurídica, Conselhos Deliberativo e Fiscal, por descumprimento de suas atribuições ou por atitudes que denigrem a imagem ou atentam contra os princípios da Associação, resguardado prévio direito de defesa do membro acusado, sendo que:

        a) – O pedido de instalação da Assembleia Extraordinária poderá ser feito pela Assessoria Jurídica após o devido processo; ou

        b) – Por solicitação subscrita de no mínimo 1/5 dos associados ativos.

        II – Alterar o Estatuto;

        III – Deliberar sobre a dissolução da Associação;

        IV – Deliberar sobre recursos inerentes as contas;

        V – Deliberar sobre todos os assuntos que a Diretoria Executiva julgar conveniente;

        VI – Deliberar sobre qualquer assunto que os associados ativos julgarem conveniente, desde que a solicitação seja subscrita por no mínimo 1/5 destes associados e com pedido específico.

        § 1º – Para a instalação da Assembleia Geral Extraordinária para tratar da alteração do estatuto é exigida a presença de no mínimo 400 (quatrocentos) associados ativos, convocada especialmente para esse fim, cujo quórum será apurado ao final da assembleia que funcionará das 08:00 as 17:00, sendo que para a aprovação é necessário o voto concorde da maioria simples.

        § 2º – Para a instalação das assembleias extraordinárias para tratar dos assuntos relacionados nos incisos I , III , IV e VI é exigida a presença de no mínimo 450 (quatrocentos cinquenta) associados ativos , em primeira convocação e 400 (quatrocentos) meia hora depois em segunda convocação, cujo quórum para deliberação é de 2/3(dois terços) dos presentes.

        §3º – Para a instalação da Assembleia Geral Extraordinária para tratar dos assuntos previstos no inciso V é exigido a presença de no mínimo 110 (cento e dez) associados ativos em primeira convocação e 30 (trinta) minutos após, em segunda convocação, com 100 (cem) associados ativos, com aprovação por maioria simples dos presentes. Não havendo quorum será designada outra data para a realização da Assembleia.

        § 4º – A Assembleia Geral Extraordinária, ressalvada a reforma do estatuto já prevista no parágrafo primeiro, funcionará em horário específico, exceto quando a matéria for considerada de relevância pela Diretoria que poderá funcionar das 08:00 às 16:00 horas.

        § 5º – A convocação da Assembleia Geral Extraordinária será feita por edital, afixada na sede social e publicado uma vez em jornal de grande circulação desta Capital, com antecedência mínima de 10 (dez) dias, constando; dia, hora, local e o assunto a ser deliberado.

        Art. 17 – O sistema de votação será por voto secreto nas Assembleias Gerais de:

        a) – Eleição;
        b) – Alteração de Estatuto;
        c) – Destituição de membro da Diretoria, Assessoria jurídica, Conselho Fiscal e Deliberativo;
        d) – Nos demais assuntos a Diretoria Executiva, facultativamente, decidirá a forma de votação, observando sempre a relevância do assunto.

        CAPÍTULO VII

        DOS ÓRGÃOS DE DIREÇÃO E DA GESTÃO ADMINISTRATIVA

        Art. 18 – São órgãos diretivos da Associação.

        I – Diretoria Executiva;
        II – Conselho Fiscal;
        III – Conselho Deliberativo;
        IV – Assessoria Jurídica; e
        V – Conselho de Administração.

        Parágrafo único – Os membros dos Órgãos constantes nos incisos I a IV do caput serão eleitos em Assembleia ordinária para mandato de 04 (quatro) anos, sendo-lhes facultado reeleger no mesmo cargo, para um único período subsequente.

        Art. 19 – A gestão administrativa da Entidade se dará pelos seus órgãos diretivos disciplinados neste Capítulo, podendo a Diretoria Executiva criar órgãos, setores e departamentos auxiliares subordinados a esta para a finalidade de desempenhar as funções técnico administrativas.

        DA DIRETORIA EXECUTIVA

        Art. 20 – São membros da Diretoria Executiva:

        I – Presidente;
        II – Vice Presidente;
        III – Secretário Geral;
        IV – Segundo Secretário Geral;
        V – Tesoureiro;
        VI – Segundo Tesoureiro.

        Art. 21 – São inelegíveis para a Diretoria Executiva e Conselho Fiscal da ADFEGO:

        I- agente político de Poder ou do Ministério Público;

        II- dirigente de órgão ou entidade da administração pública de qualquer esfera governamental;

        III- o respectivo cônjuge ou companheiro, bem como parente em linha reta, colateral ou por afinidade, até o terceiro grau.

        IV – Os que tiverem contra si qualquer tipo de restrição junto aos órgãos de proteção ao crédito, bem como junto as fazendas públicas federal, estadual e municipal, que deverá ser comprovado no ato de formalização do pedido de registro da chapa.

        V – Os que tiverem contra si qualquer tipo de condenação penal transitada em julgado, cuja comprovação se dará através das certidões de antecedentes criminais fornecidas pela justiça estadual e federal.

        VI – Os que tiverem as suas contas rejeitadas, junto a ADFEGO, com trânsito em julgado administrativamente.

        VII – Compondo a mesma chapa ,o respectivo cônjuge ou companheiro, bem como parente em linha reta, colateral ou por afinidade, até o segundo grau, condição que se aplica também aos membros do Conselho Fiscal em relação ao próprio órgão e à diretoria executiva.

        VIII – Os que não possuírem escolaridade mínima de nível médio.

        Art. 22 – A Diretoria se reunirá em sessão ordinária uma vez a cada 03 (três) meses, em data designada por seu Presidente ou seu substituto legal, e, extraordinariamente, todas as vezes que for convocada pelo Presidente ou pela maioria de seus membros. As deliberações da Diretoria Executiva serão com quorum da maioria absoluta de seus membros, sendo considerada aprovada a matéria por maioria simples dos presentes.

        §1º – Perderá o mandato o membro da Diretoria que faltar, sem justificativa formal, a mais de 03 (três) reuniões ordinárias consecutivas.

        §2º – Os membros da Diretoria não respondem solidariamente pelas obrigações assumidas pela Associação, exceto quando ficar configurado crime patrimonial contra a entidade.

        § 3º – A justificativa formal de que trata o § 1º deste artigo só será considerada por escrito, após apreciada e aceita pelo Conselho de Administração.

        § 4º – No caso de destituição ou renúncia do membro titular da Diretoria o respectivo substituto assumirá a titularidade do cargo e será indicado pela Diretoria, outro associado atuante para ocupar a suplência mediante referendo do Conselho de Administração.

        Art. 23 – Compete à Diretoria Executiva.

        I – Desenvolver programa de atividades da Associação;

        II – Empreender ações para melhor conscientização da sociedade e poderes públicos acerca das potencialidades físicas e intelectuais da pessoa com deficiência física, bem como buscar incessantemente a sua integração à sociedade;

        III – Admitir e excluir associados na forma prevista nesse Estatuto;

        IV – Criar, modificar e extinguir departamentos e setores e atividades da Associação;

        V – Fixar anualmente as mensalidades, se decidida pela cobrança, dos sócios, propondo seu reajuste ao Conselho de Administração;

        VIII – Criar, com exclusividade, comissões e/ou departamentos que lhe serão subordinadas, com a função de órgãos técnicos, sociais e auxiliares;

        IX – Decidir sobre os casos omissos neste Estatuto;

        X – Apresentar ao Conselho Fiscal o relatório anual das contas de sua gestão para apreciação e aprovação;

        XI – Ter sob sua direção o controle da execução dos serviços, obras físicas e sociais da Associação;

        XII – Autorizar despesas da Associação, que estejam fora das atribuições do presidente, bem como as necessárias para o funcionamento da Entidade, exceto as alienações ou permuta de bens móveis, que deve ser submetidas à aprovação do conselho de administração.

        XIII – Aprovar a relação de serviços assistenciais gratuitos prestados pela Associação, mediante programa apresentado pelo Presidente, de acordo com as políticas de assistência social definidas em lei.

        XIV – Apresentar as contas da Associação para apreciação e deliberação do Conselho Fiscal e posterior apresentação em assembleia ordinária convocada para este fim, através de relatórios e sistema contábil adotado em conformidade com as normas estabelecidas para as Organizações da Sociedade Civil.

        XV – Apresentar ao Conselho de Administração o regimento interno para aprovação deste, com o respectivo organograma dos departamentos ou suas respectivas alterações;

        XVI – Elaborar e estabelecer o plano de ação ate o dia 31 de dezembro para o exercício seguinte.

        Art. 24 – Compete ao Presidente:

        I – Cumprir e fazer cumprir este Estatuto, os regulamentos internos, o código de ética, e as deliberações das Assembleias Gerais; da Diretoria Executiva e dos Conselhos.

        II – Convocar Assembleias Gerais e as reuniões da Diretoria;

        III – Autorizar os pagamentos necessários para a busca dos fins institucionais estabelecidos por este estatuto, e assinar com o Tesoureiro cheques da entidade e outros documentos de responsabilidade financeira da associação;

        IV – Assinar todo o expediente da Associação;

        V – Representar a Associação em juízo ou fora dele, constituindo procurador “Ad judicia”, ou para outros fins, com poderes específicos quando julgar necessário;

        VI – Contratar, promover, conceder licenças, suspender e demitir empregados e contratar serviços permanentes ou eventuais de consultores e técnicos de qualquer natureza, ouvindo, em casos especiais, os demais membros da Diretoria;

        VII – Celebrar e administrar os contratos, convênios, termos de parceria e/ou outras formas de fomento que possam ser estabelecidas por força de norma, com empresas públicas ou privadas para a prestação de serviços ou locação de mão de obra, após deliberação da Diretoria.

        VIII – Autorizar as despesas necessárias para o funcionamento da Associação.

        Art. 25 – Compete ao Vice-Presidente:

        I – Substituir o Presidente nas ausências, quando solicitado por este ou pela Diretoria de forma documentada, e também em casos de ausência superior a 30 (trinta) dias, devendo a substituição ser formalizada por reunião da Diretoria Executiva.

        II – Exercer atribuições que lhe forem delegadas pelo Presidente, em caráter temporário ou permanente.

        Art. 26 – Compete ao Primeiro Secretário:

        I – Substituir o Vice-Presidente;

        II – Redigir as atas das Assembleias Gerais e das reuniões da Diretoria;

        III – Superintender os serviços da Secretaria da Associação;

        IV – Ter sob sua guarda o livro de atas e o arquivo geral;

        V – Organizar e manter atualizado o quadro social;

        VI – Expedir as Carteiras Sociais, quando autorizadas, subscrevendo-as com o presidente;

        VII – Delegar suas atribuições ao segundo Secretário.

        – Paragrafo único – para o desempenho das atividades previstas nos incisos V e VI , o Secretário poderá contar com a estrutura administrativa da Associação.

        Art. 27 – Ao Segundo Secretário compete substituir o Secretário em suas faltas e impedimentos e exercer as atribuições que lhe forem delegadas.

        Art. 28 – Compete ao Tesoureiro:

        I – Cobrar as mensalidades quando instituídas e depositar os valores em instituição bancária de movimentação financeira da ADFEGO;

        II – Assinar com o Presidente cheques da entidade e outros documentos de responsabilidade financeira da associação

        III – Manter, em conjunto com o presidente, o controle de todos os valores pertencentes à Associação, aplicando-os de acordo com as deliberações dos órgãos superiores;

        IV – Superintender os serviços de contabilidade da Associação.

        V – Receber subvenção ou contribuição para a Associação, fazendo o correspondente recibo em nome da ADFEGO;

        Art. 29 – Ao segundo Tesoureiro – Substituir o Tesoureiro nas ausências, quando solicitado por este ou pela Diretoria de forma documentada, e também em casos de ausência superior a 30 (trinta) dias, devendo a substituição ser formalizada por reunião da Diretoria Executiva.

        Parágrafo único – Exercer atribuições que lhe forem delegadas pelo Tesoureiro, em caráter temporário.

        DA ASSESSORIA JURÍDICA

        Art. 30 – A Assessoria Jurídica será composta por até 03 (três) membros, sendo obrigatório a presença de um advogado inscrito na OAB/GO, eleito(s) por Assembleia Ordinária juntamente com a Diretoria Executiva com mandato de 04 (quatro) anos.

        Art. 31 – Compete ao Assessor Jurídico:

        I – Opinar sobre as questões jurídicas que envolvem a Associação;

        II – Assessorar a Diretoria sempre que necessário;

        III – Adotar procedimentos cíveis e/ou criminais em caso de rejeição das contas ou outras irregularidades, bem como propor à Assembleia Geral a destituição de diretores que incorrerem em atos atentatórios aos princípios legais e estatutários da Associação.

        Art. 32 – Para defender os direitos e interesses da associação em juízo ou fora dele e ainda para prestar assistência jurídica aos associados de conformidade com as condições estabelecidas pela entidade, poderá ser contratado advogado(s) ou sociedade civil de prestação de serviços de advocacia.

        DO CONSELHO CONSULTIVO

        Art. 33 – O Conselho Consultivo é composto por 03 (três) membros, eleitos em Assembleia Ordinária juntamente com a Diretoria Executiva com mandato de 04 (quatro) anos.

        Art. 34 – Compete ao Conselho Consultivo:

        I – Reunir-se quando necessário e a pedido da Diretoria;

        II – Opinar sobre o Plano de ação da Diretoria;

        III – Solicitar à Diretoria todas as informações que julgar necessárias;

        IV – Apresentar sugestões administrativas para a Diretoria Executiva.

        V – Atuar como mediador entre o associado e a Diretoria, em assuntos da entidade em geral, recebendo sugestões ou criticas referente ao trabalho desenvolvido pelos órgãos diretivos.

        VI –Compor como membro nato o Conselho de Administração.

        Parágrafo único – Perderá o mandato o Conselheiro Consultivo que faltar a 03 (três) reuniões consecutivas, sem justificativas formais.

        DO CONSELHO FISCAL

        Art. 35 – O Conselho Fiscal é composto por 05 (cinco) membros, eleitos em Assembleia Ordinária, para um mandato de 04 (quatros) anos, na mesma data da eleição da Diretoria Executiva, Conselho Consultivo e Assessoria Jurídica, através de nomes isolados e autônomos.

        § 1º – Para composição do Conselho Fiscal, fica facultado concorrer ao referido cargo na proporção de 2/5 (dois quintos) das vagas, os parentes do associado ativo, em até 2º grau na linha reta ou colateral, conjugue ou companheiro.

        § 2º – Os candidatos que figurem na listagem do resultado final da eleição, nas posições de 6º ao 10º lugar, serão considerados eleitos como suplentes, obedecendo-se a ordem para convocação, caso necessário.

        Art. 36. Compete ao Conselho Fiscal:

        I – reunir-se no mínimo duas vezes por ano, examinar e dar parecer sobre as contas da Diretoria da ADFEGO, deliberando com a presença de seus membros titulares, convocando-se seus suplentes, tantos quantos necessários, no caso de ausência, renúncia ou impedimento;

        II – examinar os livros de escrituração da entidade;

        III – examinar o balancete semestral apresentado pela Instituição, deliberando sobre a aprovação ou rejeição;

        IV – apresentar relatórios de receitas e despesas, sempre que forem solicitados;

        V – opinar sobre aquisição e alienação de bens;

        VI – promover gestões para o correto funcionamento fiscal da instituição;

        VII – fornecer, obrigatoriamente, a cada seis meses, relatórios da situação fiscal e sugestões, quando necessário, para prevenir e corrigir problemas posteriores.

        VIII – opinar sobre os relatórios de desempenho financeiro e contábil e sobre as operações patrimoniais realizadas.

        Parágrafo único. O Conselho Fiscal poderá utilizar-se do assessoramento de um Auditor, ou Contador ou Técnico em Contabilidade, se assim necessitar.

        DO CONSELHO DE ADMINISTRAÇÃO.

        Art. 37 – O Conselho de Administração será composto por 02 (dois) membros da Diretoria Executiva, pelo Conselho Fiscal e Consultivo, por 01 (um) membro da Assessoria Jurídica, por 01(um) representante dos associados e por um representante da sociedade civil organizada, com mandato de 04 (quatro) anos simultâneo com o mandato da Diretoria Executiva.

        § 1º Os representantes da Diretoria Executiva , bem como o representante da Assessoria Jurídica, serão escolhidos através de consenso entre seus respectivos membros, votação ou sorteio.

        § 2º O representante dos associados será escolhido pela Diretoria Executiva, mediante a apresentação de lista tríplice elaborada pelos associados ativos.

        § 3º O processo de formação da lista tríplice se dará da seguinte forma:

        a) – O Associado interessado buscará apoio dos demais associados através de assinaturas.

        b) – Os três associados que apresentarem o maior número de assinaturas de apoio dos associados, comporão a lista tríplice.

        § 4º O representante da sociedade civil organizada será escolhido pelo próprio Conselho de Administração no prazo de até 10 dias da sua instalação, através de processo interno, observando-se conhecimentos básicos de administração ou áreas afins.

        § 5º A posse do representante da sociedade civil organizada escolhido, fica condicionada a aceitação do convite e em caso de recusa o Conselho repetirá o processo de escolha, tantas quantas vezes necessárias até a efetiva aceitação.

        § 6º O representante da sociedade civil organizada, cumprido integralmente o mandato, receberá da Entidade o título de Sócio Benemérito.

        § 7º Será escolhido, em eleição interna entre os conselheiros, o presidente que terá voto de minerva.

        § 8º O Conselho será instalado imediatamente após a posse da Diretoria Executiva. Extinto o mandato da Diretoria extingue-se o mandato dos Conselheiros.

        Art. 38 – Compete ao Conselho de Administração:

        I – Autorizar a compra, alienação ou permuta de bens imóveis e veículos automotores;

        II – Deliberar sobre divergências entre os Conselhos Fiscal e Deliberativo com a Diretoria ou entre si;

        III – Aprovar o Regimento Interno da Associação e as suas alterações, obrigatoriamente elaborado pela Diretoria Executiva.

        IV- Elaborar e aprovar o Código de Ética da Associação.

        Parágrafo Único. O Conselho de Administração se reunirá toda vez que for convocado pelo seu Presidente, pela maioria de seus membros ou por solicitação da Diretoria Executiva.

        CAPÍTULO VIII – DAS CONDIÇÕES PARA ALTERAÇÃO DO ESTATUTO E DISSOLUÇÃO DA ASSOCIAÇÃO. 

        Art. 39 – O Estatuto da Entidade poderá ser alterado por deliberação da Assembleia Geral Extraordinária convocada para esta finalidade, mediante a apresentação, por quem solicitou, de proposta consolidada em documento solene.

        Parágrafo único – A convocação da Assembleia para alteração do Estatuto será nos termos do art. 15 deste Estatuto.

        Art. 40. Em caso de dissolução ou extinção, mudança de finalidade ou cessação de suas atividades o eventual patrimônio líquido remanescente será destinado a outra pessoa jurídica de igual natureza, preferencialmente, com o mesmo objeto social estatutário que atenda aos requisitos da Lei n.º 13.019, de 31 de julho de 2014.

        CAPÍTULO IX

        DA APROVAÇÃO DAS CONTAS

        Art. 41 – A Diretoria da Entidade apresentará as contas da Associação para apreciação e julgamento do Conselho Fiscal, através de relatórios e sistema contábeis adotados para as Entidades de organização da sociedade civil, ao final de cada semestre e após o término de cada exercício que compreende de 1º de janeiro a 31 de dezembro de cada ano.

        § 1º As contas mencionadas no caput deste artigo deverão:

        I – observar os princípios fundamentais de contabilidade e das Normas Brasileiras de Contabilidade;

        II- dar publicidade, por qualquer meio eficaz, no encerramento do exercício fiscal, ao relatório de atividades e demonstrações financeiras da entidade, incluídas as certidões negativas de débitos com a Previdência Social e com o Fundo de Garantia do Tempo de Serviço – FGTS, colocando-os à disposição para exame de qualquer cidadão, sem prejuízo das publicações em Diários Oficias quando forem exigidas.

        § 2º Para fins do que dispõe o inciso II do § 1º deste artigo, na impossibilidade de disponibilização na página eletrônica, cada encerramento de exercício fiscal juntamente com o relatório de atividades e demonstrações financeiras da entidade, incluídas as certidões negativas de débitos com a Previdência Social e com o Fundo de Garantia do Tempo de Serviço – FGTS deverão ser publicadas obrigatoriamente em diário oficial do Estado ou do Município ou em jornal de grande circulação no Estado para exame de qualquer cidadão, sem prejuízo das publicações em diário oficial quando forem exigidas.

        § 3º As contas do exercício serão apresentadas até o dia 30 do mês de abril do exercício seguinte.

        § 4º Apresentadas as Contas o Conselho Fiscal terá o prazo de 15 (quinze) dias para apreciá-las, prorrogáveis por 10 (dez) dias caso haja necessidade de diligências complementares.

        § 5º Apreciadas as Contas estas serão apresentadas em Assembleia Geral Ordinária, convocada para esta finalidade nos termos deste Estatuto.

        § 6º Se rejeitadas as contas pelo Conselho Fiscal caberá recurso para a Assembleia Geral Extraordinária, prevalecendo a rejeição, compete à Assessoria Jurídica adotar as medidas legais, tais como responsabilização civil, criminal, bem como propor à Assembleia Geral Extraordinária a destituição ou a penalidade compatível do diretor ou diretores que deram causa as irregularidades.

        § 7º § – Após o trânsito em julgado da decisão que aprovou ou reprovou as Contas, as mesmas serão publicadas em Jornal de grande circulação desta Capital ou no diário Oficial do Estado.

        CAPÍTULO X

        DAS ELEIÇÕES

        Art. 42 – As eleições da Diretoria, dos Conselhos Fiscal e Deliberativo e Assessoria Jurídica serão realizadas no 1º (primeiro) sábado do mês de junho do ano que findar o mandato dos administradores.

        § 1º – Será designada pela Diretoria Executiva com antecedência de 40 (quarenta) dias da eleição, comissão pré-eleitoral composta por 05 (cinco) membros escolhidos entre os servidores e assessores jurídicos da ADFEGO, ficando entre eles escolhido o seu Presidente, que fará a preparação e publicação do Edital e demais ações para a instalação da Assembleia.

        § 2º – A publicação do edital de convocação para a Assembleia Ordinária se dará até 30 (trinta) dias antes da data da eleição em jornal de grande circulação nesta Capital.

        Art. 43 – A eleição se fará por meio de chapas, que deverão ser apresentadas à comissão pré-eleitoral para o competente registro até 20 (vinte) dias antes da data da eleição. Vedada qualquer candidatura senão por meio de chapa completa para os cargos da Diretoria Executiva, Conselho Consultivo e Assessoria Jurídica. O registro das candidaturas para o Conselho Fiscal, que se dará através de nomes isolados e autônomos se fará no mesmo prazo.

        § 1º – Para a organização e execução dos trabalhos da eleição será criada no décimo nono dia antes do pleito, uma comissão eleitoral, constituída de dois representantes indicados por cada chapa registrada e de dois membros indicados pela Diretoria, com eleição interna de um presidente.

        § 2º – A referida Comissão expedirá a regulamentação da eleição, inclusive com a nomeação dos mesários, respeitando o estabelecido neste Estatuto.

        § 3º – Caberá a referida Comissão, também, recepção e apuração dos votos, lavrando ata circunstanciada dos trabalhos e proclamando eleita como vencedora a chapa que obtiver mais votos entre as concorrentes.

        § 4º – É vedado a qualquer associado concorrer a mais de um cargo eletivo, assim como se subscrever a mais de uma chapa.

        § 5º – Será considerado eleito conselheiros fiscais, os 05 (cinco) candidatos que obtiverem maior número de votos, observando-se as regras estabelecidas no § 1º do artigo 33 deste Estatuto.

        § 6º – As impugnações poderão ser interpostas até o encerramento da Assembleia e serão decididas pela Comissão Eleitoral antes da proclamação do resultado.

        § 7º – Os recursos poderão ser interpostos até 05 (cinco) dias após a proclamação dos resultados, à Comissão Eleitoral que decidirá em 02 (dois) dias, pela maioria de seus membros, observadas as normas Estatutárias e as Regulamentações expedidas.

        § 8º Em caso de empate, considera eleita a chapa que tiver o candidato a presidente mais velho, bem como os conselheiros fiscais mais velhos.

        Art. 44 – Não será permitido o voto por procuração.

        Parágrafo único – Os associados legalmente interditados serão representados nas Assembleias pelos curadores e os associados menores de 18 anos poderão ser representados por quem detenha legalmente o poder familiar, ficando assegurado ao menor a partir de 16 anos, prioritariamente, o exercício do voto desde que reúna condições cognitivas para tal fim.

        Art. 45- Apurados os votos e resolvido às impugnações ou julgado o(s) recurso(s), o Presidente da comissão proclamará a chapa eleita e os Conselheiros Fiscais.

        Parágrafo Único – A posse dos eleitos far-se-á, no máximo, 30 (trinta) dias após a realização da eleição a critério da diretoria em exercício, recebendo da mesma todo o patrimônio da Associação, arquivos, importâncias em dinheiro, etc., mediante registro.

        CAPÍTULO XI 

        DAS PENALIDADES

        Art. 46 – As Penalidades são as seguintes:

        I – Advertência
        II – Suspensão
        III – Exclusão

        § 1º – ADVERTÊNCIA- será feita em caráter sigiloso, por escrito, ao sócio na categoria de Pessoa com Deficiência Física ou de Fundador, que não cumprir as exigências deste Estatuto;

        § 2º – SUSPENSÃO- A suspensão se dará:

        a) – Pelo período de 03 (três) meses, quando o sócio for advertido, na forma do parágrafo anterior, por mais de 03 (três) vezes durante o ano.

        b) – Enquanto durar a sua condição de sócio inativo em razão de não participar de nenhuma Assembleia Geral no período de 04 (quatro) anos.

        § 3º – EXCLUSÃO – A exclusão dos sócios na categoria de pessoa com deficiência ou fundadores só será verificada depois de comprovado que sua conduta, como associado, no plano moral e social, fugiu aos princípios defendidos pela Associação, infringindo o código de ética, ou for reincidente na penalidade prevista no § 2º letra a. Os casos omissos e havendo motivos graves, serão resolvidos pelo Conselho de Administração, convocado extraordinariamente para este fim, e por aprovação da maioria absoluta dos presentes e somente será admitida se houver justa causa, sendo esta reconhecida em procedimento que lhe assegure o direito de defesa e de recurso.

        § 4º – Os procedimentos a serem adotados e a definição de justa causa será determinada em Código de ética ou Regimento Interno da Entidade.

        § 5º – A aplicação da pena de suspensão ou exclusão ao associado funcionário, implicará na rescisão do contrato de trabalho, conforme legislação em vigor.

        CAPÍTULO XII

        DO PATRIMÔNIO

        Art. 47 – O patrimônio da Associação, constituído de bens imóveis, veículos automotores ou outros bens móveis com valor acima de 40(quarenta) salários mínimos vigente, de acordo com avaliação de mercado, não poderá ser objeto de transação, sem o consentimento prévio do Conselho de Administração e somente para os fins daquela.

        CAPÍTULO XIII

        DAS DISPOSIÇÕES GERAIS

        Art. 48 – Os associados, bem como os membros dos órgãos deliberativos não respondem nem mesmo subsidiariamente pelas obrigações assumidas pela Entidade, salvo quando ficar caracterizado crime patrimonial contra a Entidade.

        Art. 49 – Além dos casos previstos neste Estatuto para destituição dos diretores, conselheiros e assessores jurídicos e demissão ou exclusão de sócios e funcionários o código de ética estabelecerá outros motivos e/ou condutas que ensejará a perda do mandato ou da qualidade de sócio ou funcionário.

        Art. 50 – Os benefícios e programas básicos de atendimento da Entidade, como tais definidos pela Diretoria, serão acessíveis a toda pessoa com deficiência física que enquadrar nos critérios adotados pela Associação de acordo com as possibilidades financeiras da Entidade e atendida a legislação afim.

        Art. 51 – Os demais benefícios oferecidos pela Entidade serão acessíveis prioritariamente ao sócio ativo.

        Art. 52 – Os serviços oferecidos para os associados, de acordo com as possibilidades financeiras da associação, poderão ser gratuitos ou subsidiados de acordo com os critérios estipulados pela Diretoria e de conformidade com a legislação afim.

        CAPÍTULO XIV

        DAS DISPOSIÇÕES FINAIS E TRANSITÓRIAS.

        Art. 53 – As alterações estatutárias operam os efeitos após o competente registro em Cartório, em todos os seus incisos alterados.

        Art. 54 – Para complementar a composição do Conselho Fiscal, até a realização da eleição, o Conselho de Administração, elegerá dois nomes, através de um processo simplificado, definido por este.

        Art. 55 – Em função da alteração do artigo 17 em seu parágrafo único o mandato da atual diretoria, conselhos e assessoria jurídica que encerraria em junho de 2017 fica prorrogado até junho de 2018.

        Link para download

        Goiânia, 21 de maio de 2016.

    </div>
    </section> <!-- end about section-->

        
  </main><!-- End #main -->
