<section id="about">
    <div class="jumbotron jumbotron-with-background"> <!-- home jumbotron Section -->
       <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      <hr class="my-4">
      <br/><br/><br/>
      <!--<a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a> -->
    </div>
  </section> <!-- End jumbotron Section -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>A História da ADFEGO</h2>
        </div>
        <p>A história da ADFEGO começou quando um pequeno grupo de pessoas com deficiência física resolveu se reunir em uma Associação. Foi assim que nasceu a ADFEGO, que, no início, funcionava em uma pequena sala no Estádio Olímpico, em Goiânia, mas os recursos eram escassos.</p>

        <p>O grupo percebeu que o incentivo à prática de esportes era uma maneira de atrair os jovens para a Associação. Foram formadas as equipes de natação e basquete. Logo começaram as apresentações em diversos campeonatos e cada vez mais pessoas conheciam a ADFEGO e o número de associados aumentava.</p>

        <p>Um ano depois da fundação, o governo doou à Associação um terreno na Chácara do Governador, onde foi construída a Casa do Paraplégico. A casa, inaugurada em 1984, abrigava pessoas com deficiência que não possuíam residência fixa e moravam em hospitais.</p>

        <p>Enquanto isso, a sede da ADFEGO foi transferida para o Centro de Apoio e passou a funcionar junto a unidades de atendimento pessoas com deficiência visual e auditiva. Naquela época, a Associação resolveu colocar em funcionamento uma oficina de fabricação de cadeiras de rodas</p>

        <p>Em 1994 essa oficina foi batizada com o nome Mão na Roda. Este foi um ano realmente marcante na história da ADFEGO, pois a Associação percebeu que a independência só seria alcançada por meio da inserção de seus associados no mercado de trabalho.</p>

        </p>Assim, foram assinados com a Brasil Telecom e a Dataprev contratos de prestação de serviço que empregaram dezenas de pessoas com deficiência. Muitos tiveram a carteira assinada pela primeira vez na vida. E assim a Associação começou a virada que possibilitou a concretização de antigos sonhos. Outros convênios foram firmados com a Empresa Brasileira de Correios e Telégrafos, Caixa Econômica Federal, Saneago, VIVO e Detran.</p>
      </div>
    </section> <!-- end about section-->

        <section id="faq" class="faq section-bg">
        <div class="container">

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <!--<i class="bx bx-help-circle icon-help"></i> --> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Visão <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Através das mais diversas ações, somos a principal parceira da pessoa com deficiência para promover seu bem estar e inclusão e lutar para que seus direitos e deveres sejam respeitados.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <!-- <i class="bx bx-help-circle icon-help"></i> --><a data-toggle="collapse" href="#faq-list-2" class="collapsed">Missão <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Contribuir para que as pessoas com deficiência física superem seus limites, visando sua integração social, política, econômica e cultural.
                  Estabelecer confiança junto a todos os setores da sociedade, com vistas a criar compromisso individual e social para a causa da pessoa com deficiência.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section><!-- End Asked Questions Section -->
  </main><!-- End #main -->
